.footer {
  height: 110px;
  color: white;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  .logo {
    img {
      background: white;
      display: flex;
      border-radius: 100%;
    }
  }
}
