.header {
  height: 88vh;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    letter-spacing: 2px;
  }
  .header-img {
    display: flex;
    align-items: center;

    img {
      border-radius: 30px;
      background-repeat: no-repeat;
      display: flex;
      width: 100%;
    }
  }
}
