.navigation {
  height: 12vh;
  padding: 0 40px;
  ul {
    display: flex;
    height: 100%;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    li {
      font-size: 18px;
    }
  }
}
