.produit {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // gap: 10px;
  margin-bottom: 40px;
  img {
    width: 100%;
    border-radius: 30px;
  }
}
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
}
